/* Styles section footer Rub */

footer {
  width: 100%;
  height: 830px;
  background: linear-gradient(#ffffff, #5c5c5c);
}
#containerOneFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#imgeLFP {
  width: 133px;
  height: 116px;
  margin: 40px 0 20px 0;
}
.imgeSMF {
  width: 32px;
  height: 32px;
  margin: 7px;
}
#containerPPF {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0 04px 0;
}
#containerPPF2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px 0 04px 0;
}
#parrafoOneF {
  margin-bottom: 5px;
  font-size: 18px;
}
#parrafoTwooF {
  margin-bottom: 15px;
  font-size: 18px;
}
#parrafoTreeF {
  margin-top: 50px;
}
#containerIFFooter {
  display: flex;
  align-items: center;
}
#containerIFFooter {
  width: 100%;
  height: 32px;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
}
iframe {
  width: 100%;
  height: 830px;
  border-style: none;
}
